{% extends 'base.html' %}
{% block title %}Update data{% endblock title %}

{% block content %}
   <section class="m-5">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-lg-8">
               <div class="card">
                  <div class="card-header">
                    <div class="row">
                     <div class="col-lg-6">
                        <h5 class="mb-0">Update Data</h5>
                     </div>
                     <div class="col-lg-6 text-end">
                        
                     </div>
                    </div>
                  </div>
                  <div class="card-body">
                     
                     {% if messages %}
                        
                        {% for message in messages %}
                           <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                               {{ message }}
                              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                           </div>
                        {% endfor %}
                           
                     {% endif %}
                        
                     <form class="row g-3 pt-3" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="col-md-6">
                           <label for="first_name" class="form-label">First Name</label>
                           <input type="text" name="first_name" value="{{ datas.first_name }}" class="form-control" id="first_name">
                        </div>
                        <div class="col-md-6">
                           <label for="last_name" class="form-label">Last Name</label>
                           <input type="text" name="last_name" value="{{ datas.last_name }}" class="form-control" id="last_name">
                        </div>
                        <div class="col-md-6">
                           <label for="email" class="form-label">Email</label>
                           <input type="email" name="email" value="{{ datas.email }}" class="form-control" id="email">
                        </div>
                        <div class="col-md-6">
                           <label for="phone_no" class="form-label">Phone No</label>
                           <input type="text" name="phone_no" value="{{ datas.phone_no }}" class="form-control" id="phone_no">
                        </div>
                        <div class="col-12">
                           <label for="address" class="form-label">Address</label>
                           <input type="text" name="address" value="{{ datas.address }}" class="form-control" id="address">
                        </div>
                        <div class="col-12">
                           <label for="image" class="form-label">Image</label>
                           <input type="file" name="image" class="form-control" id="image">
                           <input type="hidden" name="old_image" value="{{ datas.image }}">
                        </div>
                        <div class="col-12 d-grid">
                           <button type="submit" class="btn btn-block btn-primary">Update</button>
                        </div>
                   </form>
                  </div>
                </div>
            </div>
         </div>
      </div>
   </section>
{% endblock content %}
   